* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.html {
  font-size: 62.5%;
}

body {
  color: white;
  background-color: black;
  font-family: 'Bebas Neue', sans-serif;
  margin-top: 40px;
}

.Todo__List {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/*ToDo List main*/
.Todo__list-container {
  width: 450px;
  min-height: 500px;
  background-color: #003823;
  margin: 50px 20px 0 20px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(9, 179, 179);
}

.Todo__list-container h1 {
  width: auto;
  margin: 10px;
  height: auto;
  font-size: 2rem;
  text-align: center;
  color: rgb(223, 223, 35);
}