* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.html {
  font-size: 62.5%;
}

body {
  color: white;
  background-color: black;
  font-family: Lato, sans-serif;
  margin-top: 40px;
}

.Todo__List {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/*ToDo List main*/
.Todo__list-container {
  width: 600px;
  min-height: 500px;
  background-color: #003823;
  padding: 25px;
  margin: 10px;
  border-radius: 26px;
  border-style: solid;
  border-color: white;
}

h1 {
  color: #cacad6;
  font-size: 2.5rem;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
}